<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @order.account_id %>
</p>

<p>
  <b>Time:</b>
  <%= @order.time %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
