<h1>Listing accounts</h1>

<table>
  <tr>
    <th>用户名</th>
    <th>Password digest</th>
    <th>Email</th>
    <th>Score</th>
    <th>Balance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.username %></td>
    <td><%= account.password_digest %></td>
    <td><%= account.email %></td>
    <td><%= account.score %></td>
    <td><%= account.balance %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
